* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: all 400ms;
}

.wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    z-index: 3;
    background-color: #4d4d4d;
}

.loader {
    position: relative;
    width: 164px;
    height: 164px;
}

.loader::before,
.loader::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #fff;
    left: 50%;
    top: 50%;
    animation: rotate 1s ease-in infinite;
}

.loader::after {
    width: 20px;
    height: 20px;
    background-color: #FF3D00;
    animation: rotate 1s ease-in infinite, moveY 1s ease-in infinite;
}

@keyframes moveY {

    0%,
    100% {
        top: 10%
    }

    45%,
    55% {
        top: 59%
    }

    60% {
        top: 40%
    }
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -100%) rotate(0deg) scale(1, 1)
    }

    25% {
        transform: translate(-50%, 0%) rotate(180deg) scale(1, 1)
    }

    45%,
    55% {
        transform: translate(-50%, 100%) rotate(180deg) scale(3, 0.5)
    }

    60% {
        transform: translate(-50%, 100%) rotate(180deg) scale(1, 1)
    }

    75% {
        transform: translate(-50%, 0%) rotate(270deg) scale(1, 1)
    }

    100% {
        transform: translate(-50%, -100%) rotate(360deg) scale(1, 1)
    }
}


body {
    overflow-x: hidden;
}

nav {
    display: flex;
    width: 100%;
    height: 6.1rem;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 2px 0px #0000006f;
    backdrop-filter: blur(3px);
    position: absolute;
    position: fixed;
    left: 0;
    z-index: 10;
}

#logo {
    width: 6rem;
    height: 6rem;
    position: relative;
    right: 10rem;
}

.links {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 2rem;
    font-size: 1.5rem;
    position: relative;
    left: 10rem;
    top: 7px;
}

#link1,
#link2,
#link3 {
    color: #444;
    text-decoration: none;
}

#link1:hover,
#link2:hover {
    border-bottom: 3px solid #000;
}

#line1,
#line2,
#line3 {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 5px 0;
    cursor: pointer;
    transition: transform 0.5s linear;
}

.burger {
    display: block;
    width: 25px;
    height: 25px;
    display: none;
}

.my-container {
    display: flex;
    position: relative;
    top: 10rem;
}

.left {
    padding: 50px;
}

.right {
    padding: 50px 0;
}

.left img {
    width: 110vh;
    height: 100vh;
}

.first-h2 {
    font-size: 30px;
    font-weight: 500;
    color: #4d4d4d;
}

.right p {
    font-size: 30px;
    color: #4d4d4d;
    margin: 20px 0;
}

.right h1 {
    font-size: 50px;
    font-weight: 400;
    margin: 20px 0;
}

.price {
    font-size: 35px;
    font-weight: 400;
    color: #4d4d4d;
}

.right input {
    display: inline-block;
    margin: 15px 10px;
    padding: 10px 15px;
    font-size: 20px;
}

.right button {
    color: #000;
    background-color: #fff;
    border: 1px solid #4d4d4d;
    border-radius: 5px;
    font-size: 18px;
    padding: 12px 20px;
    margin: 15px 10px;
}

.right button:hover {
    color: #fff;
    background-color: #000;
}

.new_page {
    position: absolute;
    bottom: 30rem;
    left: 20rem;
    z-index: 2;
    background-color: #fff;
    width: 600px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 2px 2px #00000081;
    transform: translateY(-500%);
}

.new_page h1 {
    font-weight: 500;
    color: #4d4d4d;
}

.close {
    position: relative;
    top: 5rem;
    right: 13rem;
    padding: 15px 20px;
    background-color: #000;
    color: #fff;
    border-radius: 8px;
}

.close:hover {
    color: #000;
    background-color: #fff;
}


/* @media (min-width: 0px) and (max-width: 1024px) {} */

@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    nav {
        width: 100%;
        height: 150px;
    }

    .links {
        position: absolute;
        top: 15vh;
        height: 70vh;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-content: center;
        align-items: center;
        transform: translateX(200%);
    }

    .links li {
        margin: 20px 0;
        opacity: 0;
        color: #000;
    }

    #logo {
        width: 150px;
        height: 150px;
    }

    .burger {
        display: block;
    }

    #line1 ,
    #line2 ,
    #line3 {
        width: 40px;
        height: 6px;
        border-radius: 20px;
    }

    .my-container {
        display: block;
    }

    .left img {
        margin-left: 30px;
        width: 50rem;
    }

    .right {
        width: 100%;
        text-align: center;
        margin-left: 6rem;
    }

    .right .first-h2 {
        font-size: 45px;
    }
}




/* js style */

.links-active {
    transform: translateX(57%);
}

.new_page_toggle {
    transform: translateY(100%);
}

@keyframes harakat {
    from {
        opacity: 0;
        transform: translateX(70px);
    }

    to {
        opacity: 1;
        transform: translate(0);
    }
}

.toggle #line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.toggle #line2 {
    opacity: 0;
}

.toggle #line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}